.benefits-section {
    position: relative;
    background: url(../../img/list2.png) left top 57% no-repeat;
    &::before {
        content: url(../../img/mal.png);
        position: absolute;
        bottom: rem(-80px);
        left: 0;
        
    }
}