.btn {
    font-size: rem(14px);
    font-weight: bold;
    padding: rem(18px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;


    &--thime--white {
        background: #fff;
        color: $darkgreen;
    }
    &:hover {
        color: #ffffff;
        background:$darkgreen;
        
    }
    &--theme--green {
        background: $darkgreen;
        color:#ffffff;
        &:hover {
            color:  $darkgreen;
            background:#ffffff;
           
           
        }
}
    &--theme--transparent {
        background: transparent;
        color: #000;
        text-transform: none;
        &:hover {
            background:#000;
            color:  $darkgreen;
           
        }
    }
}