$containerWidth: 940px;
$baseFontSize: 16px;
// breakpoint
$tablets:768px;
$phones:480px;

// colors
$blue:#61C4D9;
$darkgreen: #0b4d3c;

@import "media";

// z-index
$z-fixed-menu: 100;

// normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

// setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,400,700&display=swap");
@import "layout";

// components

@import "header";

@import "features";

@import "btn";
@import"hero";
@import"section";
@import"benefit";
@import"benefits";
@import"benefits-section";
@import"revews";
@import"interactive-avatar";
@import"radio";
@import"form";
@import"fixed-menu";
@import"menu";
@import"hamburger"

