.revews__display {
    background:  url(../../img/dpreiw.png)right 10% no-repeat #F8FAF9;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;


    &::before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background:#ffffff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -65px;
        
    }
}
.revews__display-inner {
    display: flex;    
}
.revews__avatar {
    width: rem(254px);
    height: rem(260px);
}
.revews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.revews__content {
   flex: 1 ;
   margin-left: rem(20px);
}
.revews__title {
    font-size: rem(24px);
    font-weight: bold;
    margin-bottom: rem(22px);
    color: #000;
}
.revews__text {
    margin-bottom: rem(36px);
}
.revews__author {
    font-size: rem(18px);
    font-weight: bold;
    color: #000;
}
.revews__switcher {
    display: flex;
    justify-content: center;
    margin-top: rem(15px);
}
